
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" style="height: 100%;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body style="background-repeat: no-repeat; background-image: linear-gradient(to bottom,rgb(177, 229, 235),white)">
    <div style="position:absolute;text-align: center; width:300px;border: 2px solid black; left: 50%;top:30%; transform: translate(-50%,-50%)">
        <b style="font-size: 100px">500</b>

    </div>
    <b style="position:absolute;left: 50%;top:45%; transform: translate(-50%,-50%);font-size: 50px">Internal Server Error</b>
    <a style="position:absolute;left: 50%;top:90%; transform: translate(-50%,-50%);font-size: 30px;; text-decoration: underline ;" href="javascript:history.back()">Take Me back</a>


</body>
</html>
