
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Сантехнік</title>

    <link rel="stylesheet" href="/Content/bootstrap.css">
    <link rel="stylesheet" href="/Content/font-awesome.css">
    <link rel="stylesheet" href="/Content/style.css">
</head>
<style>

    .container {
        padding: 16px;
    }

    input[type=text], input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #bdb3b3;
    }

        input[type=text]:focus, input[type=password]:focus {
            background-color: #bdb3b3;
            outline: none;
        }

    hr {
        border: 1px solid #bdb3b3;
        margin-bottom: 25px;
    }

    .registerbtn {
        background-color: rgb(37, 37, 37);
        color: white;
        padding: 16px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }

        .registerbtn:hover {
            opacity: 1;
        }

    a {
        color: dodgerblue;
    }

    .signin {
        background-color: #f1f1f1;
        text-align: center;
    }
</style>
<body>
    <div class="container">
        <h1>Реєстрація</h1>
        <p>Будь ласка, заповніть поля</p>
        <hr>

        <label for="email"><b>E-mail</b></label>
        <input type="text" placeholder="Enter Email" id="email">

        <label for="psw"><b>Пароль</b></label>
        <input type="password" placeholder="Enter Password" id="psw">


        <label for="nm"><b>Ім'я</b></label>
        <input type="text" placeholder="Enter Name" id="nm">


        <label for="phn"><b>Телефон</b></label>
        <input type="text" placeholder="Enter Phone" id="phn">


        <label for="adr"><b>Адреса</b></label>
        <input type="text" placeholder="Enter Address" id="adr">

        <p id="wrn" style="font-size: 13px; color: red; visibility: hidden">Заповніть усі поля!</p>

        <hr>

        <button type="submit" onclick="GetAndSendData()" class="registerbtn">Зареєструватись</button>
    </div>

    <div class="container signin">
        <p>Уже зареєстровані? <a href="@Url.Action("Index", "Home")">Увійти</a></p>
    </div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script>
            function GetAndSendData() {
                if (document.getElementById("email").value && document.getElementById("psw").value && document.getElementById("nm").value && document.getElementById("phn").value && document.getElementById("adr").value)
                {
                    $.post("/Home/Add", {
                        "Email": document.getElementById("email").value,
                        "Password": document.getElementById("psw").value,
                        "Name": document.getElementById("nm").value,
                        "Phone": document.getElementById("phn").value,
                        "Address": document.getElementById("adr").value
                    });
                    window.location.href = "/Home/Index";
                }
                else
                {
                    var wrn = document.getElementById("wrn");
                    wrn.style.visibility = "visible";
                }

            }
    </script>

</body>
</html>

